
<div class="col-md-10 col-md-offset-1">

    <nav class="navbar navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h4>Event List</h4>
          </a>
        </div>
      </div>
    </nav>
    <!-- <button class="btn btn-primary">Reset Form</button> -->

    <!-- <hr> -->


    <table class="table table-bordered table-hover table-striped" >

      <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Jadwal</th>
        <th>Harga</th>
      </tr>

      <tr *ngFor="let el of eventlist">
          <td> {{ el.id }} </td>
          <td> {{ el.event }} </td>
          <td> {{ el.jadwal }} </td>
          <td> {{ el.harga }} </td>
          <button type=" btn btn-primary">Buy</button>
      </tr>

    </table>

    

</div>