
<div class="col-md-10 col-md-offset-1">

    <nav class="navbar navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h4>Event Master</h4>
          </a>
        </div>
      </div>
    </nav>


    <table class="table table-bordered table-hover table-striped" >

      <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Jadwal</th>
        <th>Harga</th>
      </tr>

      <tr>
        <td>
          Event <input type="text" name="" value="Event"> 
          </td>
        <td>
          Jadwal <input type="text" name="" value="Jadwal">
        </td>
        <td>
          Harga <input type="text" name="" value="Harga">
        </td>
          <button type=" btn btn-primary">Add</button>
      </tr>

    </table>

    

</div>